body {
    background-color: rgb(19, 57, 102);
    color: white;
    /* padding-left: 5%; */
    
}

h1 {
    margin-left: 10px;
    margin-top: 10px;
}

.line {
    margin-bottom: 65px;
    border-color:#0099ff;
    border-width: 3px;
}

.row {
    margin-left: 10px;
    margin-right: 5px;
}

.foot {
    margin-top: 200px;
}
